.home-screen {
}

home-screen_header {
}

.home-screen h1 {
    font-family: "LeckerliOne", sans-serif;
}

.home-screen_play-button {
    font-family: sans-serif;
    padding: 1rem;
    border: 1px solid #AAA;
    border-radius:  0.25rem;
    font-size: 16pt;
    cursor: pointer;
    background: #EEE;
    transition: all 0.5s;
}
.home-screen_play-button:hover {
    background-color: #DDD;
}
.home-screen_play-button > span{
    display: block;
}