
.home_screen {
    margin: 0 auto;
}

.home_screen_header {
    margin-bottom: 3rem;
}

.home_screen_header > h1 {
    font-family: "Henny Penny", sans-serif;
    font-size: 2rem;
    text-shadow: 0 2px 2px #AAA;
    color: indianred;
    margin: 1rem 0 0 0;
}

.message {
    margin: 0 auto 2rem auto;
}

.quiz_title {
    font-family: "Tilt Neon", sans-serif;
    font-size: 3rem;
    color: slateblue;
    text-shadow: 1px 1px 1px #DDD;
    margin: 0 auto;
}

.quiz_subtitle {
    font-family: "Tilt Neon", sans-serif;
    font-size: 1rem;
    color: slateblue;
    text-shadow: 1px 1px 1px #DDD;
    margin: 0 auto;
}

.latest_quiz {
    margin: 1rem auto 3rem auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    max-width: 16rem;
}

.latest_quiz > * {
    flex: 1 1 auto;
    align-self: stretch;
}


.play_button {
    color: floralwhite;
    font-family: "Tilt Neon", sans-serif;
    margin: 0 0 1rem 0;
    padding: 0.5rem 3rem;
    font-size: 1.4rem;
    cursor: pointer;
    border-radius: 2rem;
    background: black;
    transition: all 0.3s;
    box-shadow: 0 2px 1px #EEE;
    border: solid 2px black;
}

.play_button:hover {
    background-color: #444;
}

.quiz_list_button {
    color: black;
    font-family: "Tilt Neon", sans-serif;
    padding: 0.5rem 3rem;
    font-size: 1.4rem;
    cursor: pointer;
    border-radius: 2rem;
    background: white;
    transition: all 0.3s;
    box-shadow: 0 2px 1px #EEE;
    border: solid 2px black;
}

.quiz_list_button:hover {
    background-color: floralwhite;
}

@media only screen and (max-width: 600px) {
    .quiz_title {
        font-size: 2.3rem;
    }

    .home_screen_header > h1 {
        font-size: 3.5rem;
    }


}


