.choice {
    margin-left: -2rem;
    margin-top: 1rem;

}

.choice > button {
    background-color: transparent;
    font-size: 2rem;
    transition: all 0.5s;
    padding: 1rem;
    border: solid 1px #DDD;
    cursor: pointer;
    width: calc(100% - 3rem);
    text-align: left;
}

.choice > button:hover {
    background-color: #DDD;
}

.choice > button > span {

}

.icon {
    height: 2rem;
    width: 2rem;
    transition: all 0.5s;
    margin-right: 1rem;

}


@media only screen and (max-width: 600px) {
    .choice > button {
        font-size: 1.5rem;
    }
    .icon {
        height: 1.5rem;
        width: 1.5rem;
        margin: 0 0.2rem;
    }
}