.answer {
    margin: 2rem 2rem 0 2rem;
}

.huzzah {
    font-family: HennyPenny, sans-serif;
    font-size: 5rem;
    margin: 0;
    color: tomato;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.answer_box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    border: solid 1px #AAA;
    margin: 0 auto 2rem auto;
    max-width: 80rem;
}

.answer_picture {
    order: 0;
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 1;
    align-self: stretch;

}

.answer_text {
    order: 1;
    flex: 1 1 auto;
    text-align: left;
    padding: 0.25rem 1rem 0.25rem 1.25rem;
    font-size: 1.5rem;
    align-self: stretch;
}

.answer_picture > figure {
    margin: 1.5rem 0 1rem 1rem;
    padding: 0;
}

.answer_picture > figure > img {
    border: solid 0.7rem white;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
    border-radius: 0.1rem;
    margin: 0;
    max-height: calc(100vh - 30rem);
    object-fit: contain;

}

.answer_picture > figure > figcaption {
    text-align: center;
    margin: 0.5rem 0 0 0;
}


.answer_box_no_image {
    border: solid 1px #AAA;
    margin: 0 auto 2rem auto;
    max-width: 60rem;
}

.answer_box_no_image > div {
    padding: 2rem;
    text-align: left;
}

.question_box {
    text-align: left;
    padding: 0 2rem;
    display: inline-block;
    max-width: 60rem;
    margin-top: 6rem;
}

.question_text {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 4rem;
}

.next_question {
    font-family: TiltNeon, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    text-align: right;
    padding: 1rem 2rem;
    display: inline-block;
    cursor: pointer;
    border: solid 1px #AAA;
    transition: all 0.2s;
}

.next_question:hover {
    background-color: slateblue;
    color: white;
}

.congratulations {
    display: inline-block;
    margin-bottom: 1rem;
}

.congratulations > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.congratulations > div > span {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

.congratulations > div > span:nth-child(1) {
    transform: scale(-1, 1);
    font-size: 4rem;
}

.congratulations > div > span:nth-child(3) {
    font-size: 4rem;
}

.congratulations > div > span:nth-child(2) {
    padding: 0;
    margin: 0 1rem;
    border: solid 1px #AAA;
    transition: all 0.2s;
    cursor: pointer;
}


.congrats_text {
    font-family: TiltNeon, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #AAA;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s;
    padding: 1rem 2rem;
}

.congrats_text:hover {
    color: white;
    background-color: slateblue;
}


@media only screen and (max-width: 600px) {
    .question_text {
        font-size: 1.2rem;
    }

    .answer_box {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: flex-start;
    }

    .answer_picture {
        order: 1;
        flex: 0 1 auto;
        align-self: stretch;

    }

    .answer_picture > figure {

        max-width: calc(100% - 3.5rem);
    }

    .answer_picture > figure > img {
        max-width: 100%;
    }


    .answer_text {
        order: 0;
        flex: 0 1 auto;
        align-self: stretch;
    }

    .congratulations{
        max-width: 100%;
    }
    .congratulations > div > span:nth-child(2) {
        margin: 0 0.1rem;
    }
}