
.score_screen {
    margin: 0 auto;
    width: 100%;
}


.score_screen_header > h1 {
    font-family: "Henny Penny", sans-serif;
    font-size: 4rem;
    text-shadow: 0 2px 2px #AAA;
    color: indianred;
    margin: 1rem 0 0 0;
}


.message {
    font-family: "Tilt Neon", sans-serif;
    font-size: 2rem;
    margin: 1rem;
    color: slateblue;
}

.quiz_title {
    font-family: "Tilt Neon", sans-serif;
    font-size: 3rem;
    color: slateblue;
    text-shadow: 1px 1px 1px #DDD;
    margin: 0 auto;
}

.score_screen_share_buttons {
    text-align: center;
    margin-top: 2rem;
}

.nav_buttons{
    max-width: 20rem;
    margin: 2rem auto;
}

.quiz_list_button{
    display: block;

    color: floralwhite;
    font-family: "Tilt Neon", sans-serif;
    margin: 0 0 1rem 0;
    padding: 0.5rem 3rem;
    font-size: 1.4rem;
    cursor: pointer;
    border-radius: 2rem;
    background: black;
    transition: all 0.3s;
    box-shadow: 0 2px 1px #EEE;
    border: solid 2px black;
}

.quiz_list_button:hover {
    background-color: #444;
}

.back_button {

    display: block;
    color: black;
    font-family: "Tilt Neon", sans-serif;
    padding: 0.5rem 3rem;
    font-size: 1.4rem;
    cursor: pointer;
    border-radius: 2rem;
    background: white;
    transition: all 0.3s;
    box-shadow: 0 2px 1px #EEE;
    border: solid 2px black;
}

.back_button:hover {
    background-color: floralwhite;
}

@media only screen and (max-width: 600px) {
    .score_screen_header > h1 {
        font-size: 3rem;
        margin-top: 5rem;
    }
}