
.score_screen {
    margin: 0 auto;
    width: 100%;
}

.quiz_list{
    text-align: right;
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.score_screen_header > h1 {
    font-family: "Henny Penny", sans-serif;
    font-size: 4rem;
    text-shadow: 0 2px 2px #AAA;
    color: indianred;
    margin: 1rem 0 0 0;
}


.message {
    font-family: "Tilt Neon", sans-serif;
    font-size: 2rem;
    margin: 1rem 0
}

.quiz_title {
    font-family: "Tilt Neon", sans-serif;
    font-size: 3rem;
    color: slateblue;
    text-shadow: 1px 1px 1px #DDD;
    margin: 0 auto;
}



.back_button > a {
    display: inline-block;
    font-family: "Tilt Neon", sans-serif;
    font-size: 1.5rem;
    color: #555;
    text-align: right;
    padding: 1rem 2rem;
    cursor: pointer;
    border: solid 1px #AAA;
    transition: all 0.2s;
    margin-top: 5rem;
    text-decoration: none;
}



.back_button > a:hover {
    background-color: slateblue;
    color: white;
}

@media only screen and (max-width: 600px) {
    .score_screen_header > h1 {
        font-size: 3rem;
        margin-top: 5rem;
    }
}