
.score_screen {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.score_screen_header > h1 {
    font-family: "HennyPenny", sans-serif;
    font-size: 4rem;
    text-shadow: 0 2px 2px #AAA;
    color: indianred;
    margin: 1rem 0 0 0;
}



.message {
    font-family: 'TiltNeon';
    font-size: 2rem;
    margin: 1rem 0
}

.quiz_title {
    font-family: "TiltNeon", sans-serif;
    font-size: 3rem;
    color: slateblue;
    text-shadow: 1px 1px 1px #DDD;
    margin: 0 auto;
}



.back_button > a {
    display: inline-block;
    font-family: TiltNeon, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #555;
    text-align: right;
    padding: 1rem 2rem;
    cursor: pointer;
    border: solid 1px #AAA;
    transition: all 0.2s;
    margin-top: 5rem;
}



.back_button > a:hover {
    background-color: slateblue;
    color: white;
}

